<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net452" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="57.0.0" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="Ninject.Extensions.Logging" version="3.2.3.0" targetFramework="net452" />
  <package id="Ninject.Extensions.Logging.nlog4" version="3.2.3.0" targetFramework="net452" />
  <package id="NLog" version="4.4.10" targetFramework="net452" />
</packages>