<div class="mat-app-background">
    <mat-card>
        <mat-card-header>
            <mat-form-field>
                <input matInput type="text" name="content" id="content" placeholder="Content" [(ngModel)]="status.content" (change)="contentChanged()">
            </mat-form-field>
        </mat-card-header>
        <mat-card-content>
            <p><label class="mat-caption">Color: </label><span class="mat-caption"> {{status.color}}</span></p>
            <div class="toast" [ngStyle]="{'background-color': status.color}"></div>
        </mat-card-content>
        <mat-card-actions>
            <p><label for="setting" class="mat-caption">Setting: </label>
                <mat-slider name="setting" id="setting" min="0" max="20" [(ngModel)]="status.setting" (change)="settingChanged()"></mat-slider><span class="mat-caption"> {{status.setting}}</span></p>
            <p>
                <mat-checkbox name="toasting" id="toasting" [(ngModel)]="status.toasting" (change)="toastingChanged()">Toasting</mat-checkbox>
            </p>
        </mat-card-actions>
    </mat-card>
</div>
